html {
    scroll-behavior: smooth;
}

@font-face {
    font-family: GT;
    src: url("../images/GT-Eesti-Pro-Text-Trial-Medium.otf") format("opentype");
}

body{
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans';
}

.navbar{
    padding: 0 5% 0 5%;
    margin: 0 auto;
    width: 100%;
    position: fixed;
    top: 0;
    background-color: white;
    border-bottom: solid #4d4084 3px;
    z-index: 10;
}
