html {
    scroll-behavior: smooth;
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

@font-face {
    font-family: GT;
    src: url("../images/GT-Eesti-Pro-Text-Trial-Medium.otf") format("opentype");
}

body{
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
}

.navbar{
    padding: 0 5% 0 5%;
    /*max-width: 1150px;*/
    margin: 0 auto;
    width: 100%;
    position: fixed;
    top: 0;
    background-color: white;
    border-bottom: solid #4d4084 3px;
    z-index: 10;
}

.navbar-brand{
    background-color: transparent;
}

.nav-link{
    font-family: GT, sans-serif;
    font-size: 1.1em;
}

.navbar-light .navbar-nav .nav-link{
    color: #666;
}

.navbar-light .navbar-nav .nav-link:hover{
    color: #999;
}

#main-page{
    padding-top: 110px;
    width: 98%;
    max-width: 1300px;
    margin: 0 auto;
    min-width: 250px;
}

#main-pic{
    width: 100%;
    max-width: 1300px;
    height: auto;
}

.page-section{
    max-width: 1300px;
    display: flex;
    margin: 0 auto;
    align-items: center;
    flex-direction: column;
}

#main-caption{
    align-items: flex-start;
    padding: 1% 2% 0% 2%;
}

h2{
    font-family: GT, sans-serif;
    font-style: italic;
}

.cand-pic-container{
    flex: 2;
    min-width: 200px;
}
.candidate-info{
    padding: 0 3% 0 3%;
    flex: 3;
    min-width: 300px;
}

.intro-pic{
    width: 100%;
    border: solid #4d4084 8px;
    height: auto;
}

.icon-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    min-width: 180px;
    flex: 1 1 auto;
    text-align: center;
    padding: 12px;
    position: relative;
}

.icon-container h3{
    font-weight: 400;
    font-size: 1.5em;
}

#navbarNav .vote {
    background-color: #4d4084;
    transition: background-color 0.6s, color 0.6s;
    font-family: GT, sans-serif;
    font-size: 0.9em;
    display: inline-block;
    padding: 10px;
    -webkit-appearance: none;
    outline: 0;
    border: 2px solid #4d4084;
    border-radius: 4px;
    color: #fff;
}

#navbarNav .vote:hover {
  background-color: #fff;
  color: #4d4084;
  border: 2px solid #4d4084;
  cursor: pointer;
  text-decoration: unset;
}

#access-plat .plat-info {
    background-color: #6b83c2;
    text-transform: uppercase;
    transition: background-color 0.6s, color 0.6s;
    margin: 15px auto;
    display: inline-block;
    width: 20%;
    padding: 10px;
    -webkit-appearance: none;
    outline: 0;
    border: 2px solid #6b83c2;
    border-radius: 4px;
    color: #fff;
}

h5.mb-0 {
    color: #ffffff;
    font-size: 1.3em;
    padding: 3px 10px;
    text-decoration: none;
    -webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    transition: color 0.3s;
}

.card-header-link:hover {
    text-decoration:none;
}

h5.mb-0:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    border-bottom: 3px solid #fff;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    transition: 0.4s;
}

h5.mb-0:hover:after {
    width: 100%;
}

#access-plat .plat-info:hover {
  background-color: #fff;
  color: #6b83c2;
  border: 2px solid #6b83c2;
  cursor: pointer;
  text-decoration: none;
}

#inclusion-plat .plat-info {
    background-color: #d97f3f;
    text-transform: uppercase;
    transition: background-color 0.6s, color 0.6s;
    margin: 15px auto;
    display: inline-block;
    width: 20%;
    padding: 10px;
    -webkit-appearance: none;
    outline: 0;
    border: 2px solid #d97f3f;
    border-radius: 4px;
    color: #fff;
}

#inclusion-plat .plat-info:hover {
  background-color: #fff;
  color: #d97f3f;
  border: 2px solid #d97f3f;
  cursor: pointer;
  text-decoration: none;
}

#sust-plat .plat-info {
    background-color: #66a84d;
    text-transform: uppercase;
    transition: background-color 0.6s, color 0.6s;
    margin: 15px auto;
    display: inline-block;
    width: 20%;
    padding: 10px;
    -webkit-appearance: none;
    outline: 0;
    border: 2px solid #66a84d;
    border-radius: 4px;
    color: #fff;
}

#sust-plat .plat-info:hover {
  background-color: #fff;
  color: #66a84d;
  border: 2px solid #66a84d;
  cursor: pointer;
  text-decoration: none;
}

#next-plat .plat-info {
    background-color: #c23644;
    text-transform: uppercase;
    transition: background-color 0.6s, color 0.6s;
    margin: 15px auto;
    display: inline-block;
    width: 20%;
    padding: 10px;
    -webkit-appearance: none;
    outline: 0;
    border: 2px solid #c23644;
    border-radius: 4px;
    color: #fff;
}

#next-plat .plat-info:hover {
  background-color: #fff;
  color: #c23644;
  border: 2px solid #c23644;
  cursor: pointer;
  text-decoration: none;
}

.plat-icon{
    width: 90%;
}

.intro-container{
    display: flex;
    padding: 2%;
    flex-wrap: wrap;
}

#meet{
    padding-top: 110px;
}

.accordion{
    z-index: -999;
}

#platform{
    padding-top: 110px;
}

#plat-details{
    width: 98%;
    max-width: 1100px;
    color: #4d4084;
}

#plat-details h3{
    font-style: italic;
    margin-top: 15px;
    font-family: GT, sans-serif;
}

#access-plat h3{
    color: #6b83c2;
}

.card-header {
    text-decoration: unset;   
}
#access-plat .card-header{
    background-color: #6b83c2;
}

#inclusion-plat h3{
    color: #d97f3f;
}

#inclusion-plat .card-header{
    background-color: #d97f3f;
}

#sust-plat h3{
    color: #66a84d;
}

#sust-plat .card-header{
    background-color: #66a84d;
}

#next-plat h3{
    color: #c23644;
}

#next-plat .card-header{
    background-color: #c23644;
}

.card-body h4{
    color: #000;
    font-size: 1em;
    font-weight: bold;
    margin-bottom:0;
    padding-top: 8px;
}

.card-body p{
    margin-bottom: 8px;
    color: #000;
}

#our-team{
    padding-top: 110px;
}

#campus-support{
    padding-top: 80px;
}
#top-platform{
    display: flex;
    justify-content: space-between;
    width: 90%;
    flex-wrap: wrap;
    margin:10px auto;
}

.team-holder{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: space-around;
}

.team-pic{
    width: 100%;
}

.team-pic2{
    width: 100%;
}

.member-container{
    box-shadow: 0 4px 8px 0 rgba(77,64,132,0.4);
    transition: 0.3s;
    width: 18%;
    min-width: 200px;
    max-width: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px 0;
    position: relative;
}

.member-container:hover {
  box-shadow: 0 8px 16px 0 rgba(77,64,132,0.4);
}

.member-container:hover .team-pic2 {
    display: inline;
}

.member-container h4{
    font-family: GT, sans-serif;
    font-size: 1.1em;
    font-style: italic;
    margin-top: 6px;
    margin-bottom: 6px;
    padding: 2px 16px;
}

.test-container{
    width: 32%;
    min-width: 330px;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

.team-pic:hover {
    opacity: 0;
}

.test-pic{
    width: 100%;
}

.test-pic:hover{
    cursor: pointer;
    /*border: solid 4px rgba(77,64,132,0.4);*/
    /*transition: border-width 0.15s ;*/

}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 200px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 900px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 115px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}

img.team-pic2 {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
}

.fab{
    width: 50px;
}

#footer{
    padding: 10px 0;
    border-top: solid 4px #2e5b91;
    background: #1C2546;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

#footer h4{
    font-family: sans-serif;
    font-size: 1em;
    font-style: italic;
}


.foot-link{
    margin: 0 10px;
    transition: background-color 0.6s, color 0.6s;
}

.twitter {
    color: #00acee;   
}

.facebook {
    color:#3b5998;    
}

.foot-link:hover {
    color: #f4c55c;
    cursor: pointer;
    text-decoration: none;
}

.foot-link:hover {
    margin: 0 10px;
}

#mission-statement{
    width: 80%;
    max-width: 1100px;
}
