html {
    scroll-behavior: smooth;
}

body{
    display: flex;
    flex-direction: column;
}

.navbar{
    padding: 0 5% 0 5%;
    /*max-width: 1150px;*/
    margin: 0 auto;
    width: 100%;
    position: fixed;
    top: 0;
    background-color: white;
}

.navbar-brand{
    background-color: transparent;
}

#main-page{
    padding-top: 110px;
    display: flex;
    justify-content: center;
    max-width: 1300px;
    min-width: 250px;
}

#main-pic{
    width: 100%;
    height: auto;
    border: solid #4d4084 8px;

}

.page-section{
    max-width: 1300px;
    display: flex;
    margin: 0 auto;
    align-items: center;
    flex-direction: column;
}

#main-caption{
    align-items: flex-start;
    padding: 1% 2% 0% 2%;
}

h2{
    font-family: Arial;
}

.cand-pic-container{
    flex: 2;
    min-width: 200px;
}
.candidate-info{
    padding: 0 3% 0 3%;
    flex: 3;
    min-width: 300px;
}

.intro-pic{
    width: 100%;
    border: solid #4d4084 8px;
    height: auto;
}

.icon-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    min-width: 180px;
}

.team-holder{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
}

.plat-icon{
    width: 100%;
}

.team-pic{
    width: 28%;
    margin: 2.3%;
}

.intro-container{
    display: flex;
    padding: 2%;
    flex-wrap: wrap;
}



#top-platform{
    display: flex;
    justify-content: space-between;
    width: 90%;
    flex-wrap: wrap;
}